.cleaner {
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #f19f40;
}

::selection {
  background-color: #f19f40;
}

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader img {
  width: 280px;
}

#popkont {
  color: #fff;
  padding: 1%;
  width: 610px;
  height: 450px;
  border: 2px solid #d1d1d1;
  bottom: 50%;
  top: 25%;
  right: 27%;
  position: fixed;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
}

#popkont #close {
  right: 5;
  top: 5;
  float: right;
}

#popkont a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  float: right;
  border: 1px solid #c2c2c2;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border-radius: 5px;
  padding: 1%;
}

#popkont a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

#popkont .kako {
  text-align: center;
  margin-top: -4%;
  border-bottom: 1px solid #000;
}

#popkont .kako p {
  text-align: justify;
  margin-left: 10%;
  font-size: 24px;
  color: #fff;
}

#popkont .link1 {
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
}

#popkont .link1 p {
  text-align: justify;
  color: #fff;
}

#popkont .popimg {
  text-align: center;
  margin-top: 4%;
  font-size: 70px;
}

.bgslika {
  background-image: url("../img/bgslika.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
}

.bgslika .ptext {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.bgslika .ptext h1 {
  font-size: 50px;
  font-family: Papyrus;
  margin-top: 15%;
  color: #000;
  margin-bottom: 7%;
}

.bgslika .ptext a {
  color: #fff;
  text-decoration: none;
  font-size: 45px;
  border: 1px solid #c2c2c2;
  padding: 1%;
  background: #f28b24;
  border-radius: 10px;
}

.bgslika .ptext a:hover {
  background-color: #fc6203;
}

.header {
  margin: 0px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .navbar-brand {
  font-size: 32px;
}

.header a {
  font-size: 18px;
}

.header a:hover {
  color: #f28b24;
}

.header .logo {
  margin-top: 2%;
}

.header ul {
  background-color: rgba(104, 104, 104, 0.493);
  margin-top: 6%;
  padding: 1%;
}

.nav-item a {
  color: #331f0a;
}

.textslika {
  width: 100%;
  margin-top: 3%;
}

.textslika h5 {
  color: #f28b24;
  font-size: 25px;
}

.textslika p {
  text-align: justify;
  font-size: 18px;
}

.textslika div {
  border: none;
}

.textslika .prvi {
  float: left;
  width: 50%;
  padding: 4%;
}

.textslika .prvi a {
  font-size: 20px;
  background-color: #f28b24;
  border: 1px solid #c2c2c2;
}

.textslika .prvi a:hover {
  background-color: #fc6203;
}

.textslika .drugi {
  float: right;
  width: 50%;
  padding: 4%;
  margin-top: 5%;
}

.infosve {
  width: 100%;
  margin: 0px auto;
  color: #fff;
  margin-top: 2%;
}

.infosve p {
  text-align: justify;
}

.infosve a {
  background-color: #f28b24;
  border: 1px solid #fff;
}

.infosve a:hover {
  background-color: #fc6203;
  border: 1px solid #c2c2c2;
}

.infosve div {
  background-color: #f28b24;
}

.infosve h5 {
  font-size: 25px;
}

.textslika1 {
  width: 80%;
  margin: 0px auto;
  margin-top: 3%;
}

.textslika1 h5 {
  color: #f28b24;
  font-size: 25px;
}

.textslika1 p {
  text-align: justify;
  font-size: 18px;
}

.textslika1 div {
  border: none;
}

.textslika1 .prvi {
  float: left;
  width: 50%;
  padding: 4%;
}

.textslika1 .prvi img {
  width: 350px;
  height: 490px;
}

.textslika1 .drugi {
  float: right;
  width: 50%;
  padding: 4%;
  margin-top: 8%;
}

.textslika1 .drugi a {
  font-size: 20px;
  background-color: #f28b24;
  border: 1px solid #c2c2c2;
}

.textslika1 .drugi a:hover {
  background-color: #fc6203;
}

.infosve1 {
  width: 100%;
  color: #f28b24;
  margin-top: 2%;
}

.infosve1 div {
  background-color: #fff;
  border: none;
}

.infosve1 h5 {
  font-size: 30px;
}

.infosve1 b {
  color: #000;
}

.cenaindex {
  width: 80%;
  margin: 0px auto;
  margin-top: 3%;
}

.cenaindex img {
  text-align: center;
  height: 300px;
}

.cenaindex .card {
  text-align: center;
}

.infosve2 {
  color: #f28b24;
  line-height: 70px;
}

.infosve2 a {
  font-size: 20px;
  background-color: #f28b24;
  border: 1px solid #c2c2c2;
}

.infosve2 a:hover {
  background-color: #fc6203;
  border: 1px solid #fff;
}

.infosve2 div {
  border: none;
  background-color: #fff;
}

.infosve2 h5 {
  font-size: 25px;
}

.textslikarodj {
  width: 100%;
  margin-top: 5%;
}

.textslikarodj h5 {
  color: #f28b24;
  font-size: 25px;
}

.textslikarodj p {
  text-align: justify;
  font-size: 18px;
}

.textslikarodj div {
  border: none;
}

.textslikarodj .prvi {
  float: left;
  width: 50%;
  padding: 4%;
}

.textslikarodj .prvi a {
  font-size: 25px;
  background-color: #f28b24;
  border: 1px solid #c2c2c2;
}

.textslikarodj .prvi a:hover {
  background-color: #fc6203;
}

.textslikarodj .drugi {
  float: right;
  width: 50%;
  padding: 4%;
  margin-top: 7%;
}

.textslikarodj .drugi img {
  height: 500px;
}

.galerija {
  width: 100%;
  margin: 0px auto;
}

.team1 {
  background-image: url("../img/team4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 1500px;
  background-size: cover;
  margin-top: -2%;
}

.team1 .infosve1 {
  width: 100%;
  color: #f28b24;
}

.team1 .infosve1 div {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.team1 .infosve1 b {
  color: #fff;
}

.team1 .textslikarodj1 {
  width: 100%;
  margin-top: 5%;
}

.team1 .textslikarodj1 h5 {
  color: #f28b24;
  font-size: 25px;
}

.team1 .textslikarodj1 p {
  text-align: justify;
  font-size: 18px;
  color: #fff;
}

.team1 .textslikarodj1 div {
  border: none;
  background-color: rgba(255, 0, 0, 0);
}

.team1 .textslikarodj1 .prvi {
  float: left;
  width: 50%;
  padding: 4%;
}

.team1 .textslikarodj1 .prvi a {
  font-size: 25px;
  background-color: #f28b24;
  border: 1px solid #c2c2c2;
}

.team1 .textslikarodj1 .prvi a:hover {
  background-color: #fc6203;
}

.team1 .textslikarodj1 .drugi {
  float: right;
  width: 50%;
  padding: 4%;
  margin-top: 7%;
}

.team1 .textslikarodj1 .drugi img {
  height: 500px;
}

.ptextteam {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.ptextteam h5 {
  font-size: 40px;
  margin-top: 15%;
  color: #fff;
  margin-bottom: 7%;
}

.ptextteam p {
  color: #fff;
  font-size: 22px;
}

.onamasve {
  width: 80%;
  margin: 0px auto;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: justify;
}

.onamasve h5 {
  font-size: 30px;
}

.onamasve .onamasve1 {
  margin-left: 4%;
}

.onamasve .onamasve1 a {
  background-color: #f28b24;
  border: 1px solid #c2c2c2;
}

.onamasve .onamasve1 a:hover {
  background-color: #fc6203;
}

.naslov1 {
  background-color: #ececec;
  width: 90%;
  margin: 0px auto;
  margin-top: 3%;
  padding: 3%;
}

.naslov1 h1 {
  margin-top: 1.5%;
  color: #f28b24;
}

.seoopt {
  margin: 0px auto;
  width: 90%;
}

.seoopt h5 {
  font-size: 25px;
}

.seootpvebsajta {
  margin-top: 5%;
  width: 90%;
  margin: 0px auto;
  margin-top: 3%;
}

.seootpvebsajta h5 {
  font-size: 25px;
  padding: 1%;
}

.seootpvebsajta button {
  padding: 1%;
}

.sredinatext {
  width: 100%;
  margin: 0px auto;
}

.sredinatext p {
  padding: 5%;
  text-align: justify;
}

.sredinatext1 {
  width: 90%;
  margin: 0px auto;
}

.sredinatext1 h5 {
  font-size: 25px;
  padding: 1%;
}

.sredinatext2 {
  width: 90%;
  margin: 0px auto;
  margin-top: 3%;
  text-align: justify;
}

.sredinatext2 h5 {
  font-size: 25px;
  padding: 1%;
}

form {
  padding: 6%;
}

.svefuter {
  line-height: 120px;
  color: #fff;
}

.svefuter footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#020024));
  background-image: linear-gradient(#000000, #020024);
}

.svefuter .ufuter {
  line-height: 5px;
  border-top: 1px solid #c2c2c2;
}

.svefuter h5 {
  font-size: 30px;
  color: #f28b24;
}

.svefuter p {
  font-size: 20px;
}

.svefuter a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.svefuter i {
  margin-right: 10%;
  text-align: center;
  font-size: 20px;
}

.svefuter i:hover {
  color: #c2c2c2;
}

.svefuter a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.blogstr {
  padding: 9%;
  margin: 6%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 10px #bdbdbd;
          box-shadow: 0px 5px 15px 10px #bdbdbd;
  background-color: #fff;
  margin-top: -8%;
}

.blogstr .ublogu {
  background-color: #fff;
}

@media (max-width: 1000px) {
  #popkont {
    padding: 1%;
    width: 80%;
    margin: 0px auto;
    height: 420px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 37%;
    right: 10%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.945);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 10%;
    font-size: 24px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
  }
  #popkont .link1 p {
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
  .textslika .prvi {
    width: 100%;
    text-align: center;
  }
  .textslika .drugi {
    display: block;
    text-align: center;
    width: 100%;
  }
  .textslika .drugi img {
    height: 400px;
  }
  .textslika1 .prvi {
    display: block;
    text-align: center;
    width: 100%;
  }
  .textslika1 .drugi {
    width: 100%;
    text-align: center;
  }
  .svefuter {
    display: block;
  }
  .textslikarodj .prvi {
    display: block;
    text-align: center;
    width: 100%;
  }
  .textslikarodj .drugi {
    width: 100%;
    text-align: center;
  }
  .team1 .textslikarodj1 .prvi {
    display: block;
    text-align: center;
    width: 100%;
  }
  .team1 .textslikarodj1 .drugi {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .header {
    display: block;
    text-align: center;
  }
}

@media (max-width: 620px) {
  #popkont {
    padding: 1%;
    width: 95%;
    margin: 0px auto;
    height: 430px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 35%;
    right: 2%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.945);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 10%;
    font-size: 24px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 18px;
  }
  #popkont .link1 p {
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
}

@media (max-width: 550px) {
  .infosve {
    margin-bottom: 7%;
  }
  .header ul {
    display: block;
    text-align: center;
  }
  .onamasve {
    display: block;
  }
}

@media (max-width: 450px) {
  #popkont {
    padding: 1%;
    width: 90%;
    margin: 0px auto;
    height: 480px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 32%;
    right: 4.5%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.945);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 10%;
    font-size: 14px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
  }
  #popkont .link1 p {
    padding: 0%;
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
  .bgslika .header ul li a {
    color: #f28b24;
  }
  .bgslika .ptext h1 {
    font-size: 30px;
    color: #fff;
  }
  .textslika1 {
    width: 100%;
    margin: 0px auto;
  }
  .textslika1 .prvi img {
    width: 100%;
    margin: 0px auto;
  }
}

@media (max-width: 380px) {
  #popkont {
    padding: 1%;
    width: 95%;
    margin: 0px auto;
    height: 355px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 36%;
    right: 2.5%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.979);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 15%;
    font-size: 13px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 12px;
  }
  #popkont .link1 p {
    padding: 0%;
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
}

ul, nav, body, h1, h2, h4, h6, p, figure {
  margin: 0;
  padding: 0;
}

a, button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Bootstrap grid system  */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.tm-container-inner,
.tm-container-inner-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6,
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

.tm-btn {
  display: inline-block;
  font-size: 1rem;
  width: auto;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.tm-btn-default {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #626364;
}

.tm-btn-default:hover,
.tm-btn-default:focus {
  color: white;
  background-color: #98999A;
}

.tm-btn-primary {
  background-color: #2D99CC;
  color: white;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  background-color: #1b6f96;
}

.tm-btn-success {
  background-color: #111921;
  /*fbe500   fbe500*/
  color: white;
}

.tm-btn-success:hover,
.tm-btn-success:focus {
  background-color: #1d6e46;
}

.tm-btn-danger {
  background-color: #993332;
  color: white;
}

.tm-btn-danger:hover,
.tm-btn-danger:focus {
  background-color: #752423;
}

.tm-mb-45 {
  margin-bottom: 45px;
}

.tm-mb-p {
  margin-bottom: 20px;
}

.tm-text-success {
  color: #3b3b38;
  /*fbe500*/
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  background-color: #ffffff;
  overflow-x: hidden;
}

.container1 {
  background-color: white;
}

p, address {
  color: #626364;
  line-height: 1.8;
}

/* Contact Page */
.tm-contact-form {
  max-width: 100%;
}

@media (min-width: 768px) {
  .tm-contact-form {
    max-width: 310px;
  }
}

.tm-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tm-btn-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626364;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.tm-info-title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}

address {
  font-style: normal;
  margin-bottom: 50px;
}

.tm-address-box {
  max-width: 100%;
}

@media (min-width: 768px) {
  .tm-address-box {
    max-width: 315px;
  }
}

.tm-contact-icon {
  display: inline-block;
  margin-right: 25px;
  color: #319966;
}

.tm-contact-link {
  display: inline-block;
  color: #626364;
  margin-bottom: 25px;
  text-decoration: none;
}

.tm-contact-social {
  margin-top: 10px;
}

.tm-map {
  max-width: 900px;
  height: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tm-map iframe {
  width: 100%;
  height: 100%;
}

.tm-contact-section {
  padding-bottom: 30px;
}

.tm-map-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tm-info-section {
  padding-top: 30px;
}

.tm-faq {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.tm-accordion {
  padding-top: 40px;
}

.accordion {
  font-size: 1.2rem;
  font-family: 'Open Sans', Helevetica, Arial, sans-serif;
  color: #999;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  margin-bottom: 17px;
  margin-top: 17px;
  cursor: pointer;
  padding: 10px 20px 6px;
  width: 100%;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  color: #09C;
}

@-webkit-keyframes changeIcon {
  0% {
    content: '\f0d9';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d7";
  }
}

@keyframes changeIcon {
  0% {
    content: '\f0d9';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d7";
  }
}

@-webkit-keyframes changeIconBack {
  0% {
    content: '\f0d7';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d9";
  }
}

@keyframes changeIconBack {
  0% {
    content: '\f0d7';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d9";
  }
}

.accordion:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -webkit-animation: changeIconBack 0.3s linear;
          animation: changeIconBack 0.3s linear;
  content: '\f0d9';
  font-size: 2rem;
  color: #999;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  -webkit-animation: changeIcon 0.3s linear;
          animation: changeIcon 0.3s linear;
  content: '\f0d7';
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 5px 20px 30px;
}

.tm-welcome-section {
  margin-bottom: 4%;
}
/*# sourceMappingURL=style.css.map */